/* // Only necessary for window height sized blocks. */
#intro {
	height: 94vh;
}

.full_height {
	height: 105vh;
}

a.active {
	background-color: #ea454b;
}
/* #intro {
	height: 200px;
} */
#badges {
	background-color: yellow;
}
#collapsible {
	background-color: green;
}