/* Intro, Nav holder */
.holder {
	height: 100vh;
}

/* Intro */
#intro {
	height: calc(100vh - 64px);
}

#content {
	position: relative;
	z-index: 10;
}

#content .row {
	margin-bottom: 0;
}

#content .active {
	background-color: #ff8f00;
}

#nav_name {
	cursor: default;
}

.big_letter {
	/* background-color: #ffc107;
	border-radius: 5px; */
	font-size: 30pt;
	font-family: 'Fjalla One', sans-serif;
	text-shadow: -2px 2px 1px #ff8f00;
}

/* Portfolio */
#portfolio {
	height: 100vh;
}

#portfolio_header {
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
}

/* .portfolio_row {
	width: 50vw;
} */

.portfolio_link {
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-size: 28pt;
	line-height: 50px;
	word-spacing: 20px;
	font-weight: 100;
	font-family: 'Fjalla One', sans-serif;
	font-style: italic;
	white-space: nowrap;
}

.portfolio_text {
	margin: 0;
	padding: 0;
	font-size: 16pt;
	line-height: 50px;
	word-spacing: 20px;
	font-weight: 100;
	white-space: nowrap;
}

.portfolio_text:any-link {
	text-decoration: none;
}

/* Contact */
#contact {
	height: 101vh;
}

.valign-wrapper {
	height: 100vh;
	width: 100%;
}

#contact_header {
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
}

.contact_text {
	margin: 0;
	padding: 0;
	font-size: 24pt;
	line-height: 50px;
	word-spacing: 20px;
	font-weight: 100;
	font-family: 'Fjalla One', sans-serif;
	white-space: nowrap;
}

/* mobile size fixes */
@media only screen and (max-width: 600px) {
    #intro {
		height: calc(100vh - 57px);
	}

	.big_letter {
        font-size: 22pt;
	}

	.nav_text {
		padding: 0 5px;
		font-size: 10pt;
	}
	
	#portfolio_header {
		font-size: 26pt;
	}
		
	.portfolio_link {
		font-size: 18pt;
	}

	.portfolio_text {
		font-size: 12pt;
	}
	
	#contact_header {
		font-size: 26pt;
	}

	.contact_text {
		font-size: 16pt;
	}
}