/* // Only necessary for window height sized blocks. */

a.active {
	background-color: #ff8f00;
}

.big_letter {
	font-size: 30pt;
	font-family: 'Fjalla One', sans-serif;
	text-shadow: -2px 2px 1px #ff8f00;
}

.holder {
	height: 100vh;
}

#intro {
	height: calc(100vh - 64px);
}

#content {
	position: relative;
}

#content .row {
	margin-bottom: 0;
}

#portfolio {
	height: 100vh;
}

#contact {
	height: 101vh;
}

.valign-wrapper {
	height: 100vh;
	width: 100%;
}

#contact_header {
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
}

.contact_text {
	margin: 0;
	padding: 0;
	font-size: 24pt;
	line-height: 50px;
	word-spacing: 20px;
	font-weight: 100;
	font-family: 'Fjalla One', sans-serif;
	white-space: nowrap;
}

.portfolio_text:any-link {
	text-decoration: none;
}

#portfolio_header {
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
}

.portfolio_text {
	margin: 0;
	padding: 0;
	font-size: 24pt;
	line-height: 50px;
	word-spacing: 20px;
	font-weight: 100;
	font-family: 'Fjalla One', sans-serif;
	white-space: nowrap;
}

.portfolio_text:any-link {
	text-decoration: none;
}

/* mobile size fixes */
@media only screen and (max-width: 600px) {
    .big_letter {
        font-size: 20pt;
	}
}
@media only screen and (max-width: 600px) {
    .big_letter {
        font-size: 14pt;
	}
}